<div h2 *ngIf="sl.index === 0" id="atCenter"><h2>Bom dia!</h2></div>

<div *ngIf="sl.index === 1">
    <h2>Trajetória</h2>
    <hr>
    <ul>
        <li>
            <p>- Início: Curso para Medicina</p>
        </li>
        <li>
            <p>- Metade: Mecatrônica</p>
        </li>
        <li>
            <p>- Reinício: Análise e Desenvolvimento de Sistemas</p>
        </li>
    </ul>
</div>

<div *ngIf="sl.index === 2">
    <h2>Carreira</h2>
    <hr>
    <ul>
        <li>
            <p>- Flex: suporte BaaN</p>
        </li>
        <li>
            <p>- Contato com: </p>
        </li>
        <li>
            <p> > SOX/SOD</p>
        </li>
        <li>
            <p> > Unix</p>
        </li>
        <li>
            <p> > Oracle: queries SQL</p>
        </li>
        <li>
            <p> > Macros, Excel</p>
        </li>
    </ul>
</div>

<div  *ngIf="sl.index === 3">
    <h2>Objetivos</h2>
    <hr>
    <ul>
        <li>
            <p>- Padawan</p>
        </li>
        <li>
            <p>- Experiência em Desenvolvimento</p>
        </li>
        <li>
            <p>- Especializar nas Tecnologias do Mercado</p>
        </li>
    </ul>
</div>

<div  *ngIf="sl.index === 4">
    <h2>Alguns conhecimentos</h2>
    <hr>
    <ul>
        <li>
            <p>- Banco de Dados Relacional</p>
        </li>
        <li>
            <p>- Linux/Unix</p>
        </li>
        <li>
            <p>- POO: Java, C#, Kotlin</p>
        </li>
        <li>
            <p>- HTML, CSS, Angular</p>
        </li>
        <li>
            <p>- Ingles intermediário</p>
        </li>
        <li>
            <p>- Excel avançado</p>
        </li>
    </ul>
</div>

<div  *ngIf="sl.index === 5">
    <h2>Interesses</h2>
    <hr>
    <ul>
        <li>
            <p>- Dev Back End</p>
        </li>
        <li>
            <p>- Manipulação de Dados</p>
        </li>
        <li>
            <p>- Dev Mobile</p>
        </li>
        <li>
            <p>- Automação de Processos</p>
        </li>
        <li>
            <p>- Segurança da Informação</p>
        </li>
        <li>
            <p>- Star Wars</p>
        </li>
    </ul>
</div>

<div  *ngIf="sl.index === 6">
    <h2>Hobbies</h2>
    <hr>
    <ul>
        <li>
            <p>- Ler(de filosofia à ficção científica)</p>
        </li>
        <li>
            <p>- Tocar violão/guitarrar (arranhar!)</p>
        </li>
        <li>
            <p>- Netflix em dia (MI)</p>
        </li>
        <li>
            <p>- Programar...debugar...debugar..compilar sem erros (nem warnings!)</p>
        </li>
    </ul>
</div>

<div h2 *ngIf="sl.index === 7" id="atCenter"><h2>Obrigado!</h2></div>
