<div id="slide">
    <div id="container">
        
        <div id="leftButton">
            <button 
                id="btn-previous" 
                class="btn" 
                (click)="onPrevious()">
                <
            </button>
        </div>
        
        <div id="content">
            <app-content></app-content>
        </div>

        <div id="rightButton">
            <button 
                id="btn-next" 
                class="btn" 
                (click)="onNext()"> 
                >
            </button> 
        </div>
    
</div>
